.navbar {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin-right: 20px;
}

li {
  display: inline-block;
  margin: 0px 10px;
}

.home-nav {
  margin: 10px;
}
